{% block ckeditor_css %}{% endblock ckeditor_css %}
<div id="media-search" class="col-xs-12 clearfix">
    <form class="form-inline" action="{{ path('lch_media_search') }}" method="POST">
        <div class="form-group">
            <label for="media-name">{{ "lch.media.list.search.name.label"|trans }}</label>
            <input type="text" class="form-control" id="media-name" name="media-name" placeholder="{{ "lch.media.list.search.name.placeholder"|trans }}">
        </div>
        {% if type != 'all' %}
            {{ getSearchFields(type) }}
        {% endif %}
        <button id="search-button" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>{{ "lch.media.list.search.submit.label"|trans }}</button>
    </form>
</div>
<div class="media-list col-xs-12 clearfix isotope">
    {% if medias|length > 0 %}
        {% for media in medias %}
            {{ getListItem(media) }}
        {% endfor %}
    {% else %}
        <p class="text-center alert alert-warning"><i class="glyphicon glyphicon-alert"></i>{{ "lch.media.list.empty"|trans }}</p>
    {% endif %}
</div>
{% if libraryMode == false %}
    <div class="col-xs-12 text-right">
        <button type='submit' class='btn btn-primary select'>
            <i class="glyphicon glyphicon-check"></i>
            {{ "lch.media.choose"|trans }}
        </button>
    </div>
{% endif %}