<div class="col-xs-6 col-sm-4 col-md-3 media"
     data-id="{{ listItemEvent.media.id }}"
     data-url="{{ listItemEvent.media.file }}"
     data-name="{{ listItemEvent.media.name }}">
    <div class="col-xs-4">
        {{ getThumbnail(listItemEvent.media) }}
    </div>
    <div class="col-xs-8">
        <p>{{ listItemEvent.media.name }}</p>
        <p><strong>{{ listItemEvent.media.width }}</strong>px x <strong>{{ listItemEvent.media.height }}</strong>px</p>
    </div>
</div>