{{ form_start(mediaForm) }}
<p class="fileHelper"></p>
    {{ form_row(mediaForm.file) }}
<div id="fileError"></div>
    {{ form_row(mediaForm.name) }}
    {{ form_row(mediaForm.alt) }}
    {{ form_rest(mediaForm) }}
{{ form_end(mediaForm) }}