{% block lch_add_choose_media_widget %}
    {% spaceless %}
        {% if(form.vars.attr.width is defined) %}
            <div style="float: left; width: {{ form.vars.attr.width }}%" class="media-selector-container" data-random="{{ form.vars['rand']}}">
        {% else %}
            <div class="col-xs-12 no-gutter media-selector-container" data-random="{{ form.vars['rand']}}">
        {% endif %}
            {{ form_label(form) }}
            <div class="col-xs-12 {% if(form.vars.attr.width is not defined) %}col-md-10{% endif %}">
                <div id="image__{{ form.vars['rand']}}">
                    <div class="col-xs-12">
                        <div class="thumbnail-container">
                            {% if value is not empty %}
                                {{ getListItem(value, { id:"imageThumb__" ~ form.vars['rand'], fullSize: true}) }}
                            {% endif %}
                        </div>
                        <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value.id }}" {% endif %}/>
                    </div>
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#image-modal__{{ form.vars['rand']}}">
                            <i class="glyphicon glyphicon-picture"></i>
                            {% if value is not empty %}
                                {{ 'lch.media.edit'|trans }}
                            {% else %}
                                {{ 'lch.media.choose'|trans }}
                            {% endif %}
                        </button>
                    </div>
                </div>
                {{ form_errors(form) }}
                <div
                    class="modal fade media-modal"
                    id="image-modal__{{ form.vars['rand']}}"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    data-route-add="{{ form.vars['add_media_route'] }}"
                    data-route-list="{{ form.vars['list_media_route'] }}"
                    data-media-type="{{ form.vars['media_type'] }}"
                    data-media-params="{{ form.vars['media_parameters']|json_encode }}"
                >
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{ form.vars['modal_title']|trans }}</h4>
                                {% if(form.vars.attr.helper is defined) %}
                                    <p class="helper"><i class="glyphicon glyphicon-question-sign"></i>{{ form.vars.attr.helper|trans()|raw }}</p>
                                {% endif %}
                            </div>
                            <div class="modal-body clearfix library-parent">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#add-media__{{ form.vars['rand']}}" aria-controls="add-media" role="tab" data-toggle="tab">{{ "lch.media.add"|trans }}</a></li>
                                    <li role="presentation"><a href="#list-media__{{ form.vars['rand']}}" aria-controls="profile" role="tab" data-toggle="tab">{{ "lch.media.choose"|trans }}</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active clearfix" id="add-media__{{ form.vars['rand']}}">
                                        <div class="col-xs-12 text-center">
                                            <img class="loader" src="{{ asset('bundles/lchmedia/images/ajax-loader.gif') }}" />
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane clearfix isotope" id="list-media__{{ form.vars['rand']}}">
                                        <div class="col-xs-12 text-center">
                                            <img class="loader" src="{{ asset('bundles/lchmedia/images/ajax-loader.gif') }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-xs-10 col-xs-offset-1">
        </div>
        <img class="loader hidden" src="{{ asset('bundles/lchmedia/images/ajax-loader.gif') }}" />
    {% endspaceless %}
{% endblock %}